body {
    /* width: 100vw; */
    /* height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden; */
    overflow-x: hidden;
    font-family: 'Press Start 2P', sans-serif;
    background: black;
    color: gainsboro;
}

::-webkit-scrollbar {
    background-color:black;
 
}

::-webkit-scrollbar-corner {
    background-color:black;
}

/* ----- NAV BAR ----- */

.navbar {
    background-color: black;
    
}

.navbar-nav {
    margin-left: 60%;
}

.nav-link {
    color:brown;
}

/* TITLE AREA */

.jumbotron {
    
    background-color: black;
    /* margin-bottom: 0;
    padding-bottom: 0; */
    
}



h1 {
    font-size:320% ;
    text-align: center;
    color: gainsboro;
    
    /* margin-right: 100%; */
    
}

h2 {
    text-align: center;
    color:gainsboro;
    margin-top: 3%;
    margin-left:40%;
    
}

.picofme {
    
    
    /* object-fit: fill; */
    
    
    

}

.picdiv{
    /* height: 100%; */
}

/* BUTTONS MENU AREA */

.menu{ 
    text-align: center;
    margin-bottom: 12%;
    width:30%;
}

.bttns {
    /* margin-left: 30%; */
    
    /* background-color: black; */
    /* margin: auto; */
    /* width: 30%; */
    
}

h3{
    
    color:gainsboro;
}



a:hover {
    text-decoration: black;
}

.projectBttn:hover {
    
    background-image: url("http://res.cloudinary.com/forte-3d/image/upload/v1512749704/hand_gkm8wr.png");
    background-size: 11%;
    background-repeat: no-repeat;
    text-decoration: black;    
    margin-left: 10%;
}

.aboutBttn:hover {
    
    background-image: url("http://res.cloudinary.com/forte-3d/image/upload/v1512749704/hand_gkm8wr.png");
    background-size: 11%;
    background-repeat: no-repeat;
    margin-left: 10%;

}

.contactBttn:hover {
    
    background-image: url("http://res.cloudinary.com/forte-3d/image/upload/v1512749704/hand_gkm8wr.png");
    background-size: 11%;
    background-repeat: no-repeat;
    margin-left: 10%;
    

}

/* ----- FOOTER ----- */

footer{
    background-color: black;
    position: relative;
    bottom: 0;
    width: 100%;   
}

.hereLink {
    color:gainsboro
}

.hereLink:hover {
    color:gainsboro
}

/*----- CONTACT PAGE -----*/

.contactInfo {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 20%;
}

.linkIcon {
    margin-top: 10%;
}

/*----- ABOUT PAGE -----*/

.about{
    text-align: center;
    margin-top: 12%;
    margin-bottom: 31%;
}

/* ----- PROJECTS PAGE ----- */

.projectsContainer {
    margin-top: 8%;
    margin-bottom: 33%;
}

.projectsCard:hover {
    
    background-image: url("http://res.cloudinary.com/forte-3d/image/upload/v1512749704/hand_gkm8wr.png");
    background-size: 4%;
    background-repeat: no-repeat;
    text-decoration: black;    
    margin-left: 4%;
}

.projectNames {
    padding-left: 6%;
}


